* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Procentage of user's browser font-size setting */
    font-size: 62.5%;  
    scroll-behavior: smooth;
  }

  body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #444;
  }

  .off {
      display: none;
  }
  
  .section_home {    
    display: none;
  }

  #home {
    display: block;
  }

  /* ####### HEADER ####### */
  .header {   
      padding-bottom: 2.4rem;
      background-color: rgba(231, 231, 231, 0.356);
      
  }

  .header_container {
      display: flex;
      padding: 1.6rem;
      margin: 1.6rem;   
      justify-content: space-between;
      align-items: center;
      max-width: 140rem;
      margin: 0 auto 0 auto;
  }

  .header img {
      height: 17rem;
      width: 17rem;     
  } 

  .navigation ul {
      display: flex;
      gap: 1rem; 
      list-style: none;  
      /* flex-shrink: 1;    */
  }

  nav ul {
      font-size: 2.6rem;
  }
 
  .nav-btn,
  .nav-btn:link,
  .nav-btn:visited {
    text-decoration: none;
    transition: all 0.3s;
    color:#444;
    padding: 1.2rem 2.4rem;
    border-radius: 1.2rem;
  }

  .nav-btn:hover,
  .nav-btn:active {
    color:rgb(35, 35, 216);
    background-color: rgb(223, 223, 223);
    cursor: pointer;
  }

  /* ####### SECTION HOME ####### */
  .container {
      max-width: 120rem;
      margin: 0 auto 0 auto;
      /* text-align: center; */
  }

  .section_home {
      font-size: 1.6rem;
      line-height: 1.1;
  }

  .section_home p {
    margin-top: 5rem;
  }

  .home_start {
      font-size: 7.2;
      color: rgb(35, 35, 216);
      font-weight: bold;
      text-transform: uppercase;
  }

  .section_home p {
      padding-bottom: 1.6rem;
  }

  .section_home img { 
   margin: auto;
   display: block;
  }

  .squad_container {
      display: grid;
      column-gap: 2rem;
      grid-template-columns: 2fr 5fr;      
  }

  .squad_container img {
      width: 100%;
  }

  /* ##### FOOTER ##### */
  .footer {
      color: aliceblue;
      margin-top: 3.2rem;
      background-color: rgb(78, 78, 255);
      max-height: 100vh;
  }
  
  .container_footer {    
    height: 10rem;
    text-align: center;
  }

  .container_footer p {      
      font-size: 1.6rem;
  }